body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: palevioletred;

}

#Calculator
{
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    max-width: 500px;
}